@import 'src/variables';

$detail-padding:48px;

.product-detail{
    min-width: 100%;
    height: 100%;
    padding-top: $navbar-height+50px;
    background-color: $ml-gray;

    .product-container{
        max-width: $max-col-width;
        width: 100%;
        margin: 0 auto;
        background-color: white;
        
       
        .thumbnail{
            object-fit: contain;
            margin: 0 auto;
            width:100%;
            max-height: 500px;
        }
        .product-header{
            display: flex;
            flex-direction: column;
            padding: 0 $detail-padding;
            border-top: 1px solid $ml-gray;
            .product-condition{

            }
            .product-title{

            }
            .product-price{

            }
            .buy-btn{
                width: 100%;
                border-radius: 4px;
                color: white;
                background-color: $ml-blue;
            }
        }
        .product-description{
            padding: $detail-padding;
        }
    }
}