@import 'src/variables';

.result{
    display:flex;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $ml-gray;
    padding: 24px 0;
    align-items: stretch;
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
    
    .thumbnail{
        object-fit: contain;
        margin-right: 16px;
    }
    .result-price{
        margin: 0 0 12px 0;
    }
    .result-title{
        margin:0;
        font-weight: 500;
    }
    .result-location{
        margin-left:auto;
        margin-right: 48px;
        min-width: max-content;
    }
    :visited{
        .result-title{
            color: navy;
        }    
     }
}